* {
  box-sizing: border-box;
  font-family: msgothic, sans-serif !important;
  font-size: 12px;
}

@font-face {
  font-family: 'msgothic';
  src: url(common/fonts/msgothicregular.ttf);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffde;
}
/*
input {
  background-color: white !important;
} */
/* 
 Table and Data Grid Classes */

.purple-cell {
  background-color: #aaddff;
  border-right: solid 1px grey;
}

.center-cell {
  justify-content: center !important;
}

.right-cell {
  justify-content: flex-end !important;
  border-right: solid 1px grey;
}

.right-cell-orange {
  justify-content: flex-end !important;
  border-right: solid 1px grey;
  color: #f09300;
}

.border-cell {
  border: 2px solid;
}

.border-input-cell {
  border-radius: 2px;
  border: 1px solid #5a5a5a;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), inset -1px -1px 3px rgba(255, 255, 255, 0.5);
}

/* mui style overrides */

/* table - grid styles */

.css-5u03ea-MuiDataGrid-root {
  top: 0;
}

.input-error {
  border: 1px solid #d32f2f !important;
}

.font-ms-gothic {
  font-family: msgothic, sans-serif;
}

.input-disable input {
  background-color: #d9d9d9 !important;
}

.dip-select {
  width: 260px;
  height: 30px;
  background-color: #fff;
}

.input-flex {
  flex: 1;
}

.input-hidden {
  opacity: 0;
}
